body {
margin: 0;
padding: 0;
}

.jumbotron {
    /*background-image: url(./color.png);*/
   /* padding: 4rem 2rem;*/

    padding-left: 200px;
}

#map {
position: relative;
top: 0;
bottom: 0;
left: 200;
right: 0;
width: 50%;
height: 100%;
/*width: 50vw;
height: 100vh;*/
padding-left: 200px;
}

#LeftSideBar {
    background-color: #123213;
    position: relative;
    width: 192px;
    float: left;
    min-height: 370px;
    text-align: left;
  }


.bg-light {
background-color: #F9C7BB; }

.navbar-light{
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light :hover, .navbar-light :focus {
    color: rgba(0, 0, 0, 0.9);
 }